* {
  box-sizing: border-box;
}

.container {
  position: relative;
  height: 150px;
  margin-bottom: 10px;
}

.card-item {
  width: 150px;
  height: 150px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  transition: transform 0.2s linear;
  opacity: 0;
  transform-origin: left;
}

.card-item.visible {
  opacity: 1;
}

.toolbar button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
